doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css')
  body
    block dropdowns
    br
    block scripts